<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Sent a new message</p>
    <form method="POST" action="/new" class="messageForm">
        <div>
            <label for="authorName">Author Name: </label>
            <input type="text" id="authorName" name="messageUser" required>
        </div>
        <div>
            <label for="message">Message: </label>
            <textarea id="message" rows="10" name="messageText" required></textarea>
        </div>
        <input type="submit" value="Sent">

    </form>
  </body>
</html>
