body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.textContainer{
  display: flex;
  justify-content: space-between;
}

.messageForm div{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 10px 0;
  gap:5px;
}

textarea{
  font-family: inherit;
}