body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.textContainer{
  display: flex;
  justify-content: space-between;
}

.messageForm div{
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin: 10px 0;
}